In [1]:
import swco
import pandas as pd

In [2]:
df_species = pd.read_feather('../Data/Intermediate/annotation.feather')
df_species.rename(columns={
                        'Specie':'Species',
                        'Gene_non_or':'Gene Superfamily',
                        '#Replicon Name':'Chromosome',
                        'Replicon Accession':'Scaffold',
                        'Gene':'Oriented Gene',
                        'Locus':'Gene'}, inplace=True)

In [3]:
df_species.describe()

,index,Chromosome,Scaffold,Start,Stop,Strand,GeneID,Gene,Protein product,Length,Protein name,Unnamed: 10,Species,Locus tag,Geneid,Gene Superfamily,Oriented Gene,Specie_Scaffold
count,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313,557313
unique,557313,94,37057,469451,468638,2,416417,96191,540190,5130,207642,5,30,18445,22407,23559,36830,37058
top,7,Un,NC_000073.6,1,70015633,+,nan,-,NP_703144.3,312,PREDICTED: NADH dehydrogenase,nan,Mouse,nan,nan,-,-+,Mouse_NC_000073.6
freq,1,258099,6265,98,54,279581,22464,67568,47,1216,768,509142,77355,503478,534849,67568,34048,6265

In [12]:
(df_species.loc[(df_species['Species'].str.contains('human', case=False)) & (df_species['Chromosome'].str.isnumeric()), ['Species', 'Chromosome', 'Scaffold', 'Start', 'Stop', 'Strand', 'Gene', 'Gene Superfamily']])

,Species,Chromosome,Scaffold,Start,Stop,Strand,Gene,Gene Superfamily
381860,Human,1,NC_000001.11,69091,70008,+,OR4F5,OR
381861,Human,1,NC_000001.11,450740,451678,-,OR4F29,OR
381862,Human,1,NC_000001.11,685716,686654,-,OR4F16,OR
381863,Human,1,NC_000001.11,925942,944153,+,SAMD11,SAMD
381864,Human,1,NC_000001.11,944694,959240,-,NOC2L,NOC
...,...,...,...,...,...,...,...,...
403098,Human,22,NC_000022.11,50600819,50610779,+,MAPK8IP2,MAPK
403099,Human,22,NC_000022.11,50625145,50627779,-,ARSA,ARSA
403100,Human,22,NC_000022.11,50674642,50731312,+,SHANK3,SHANK
403101,Human,22,NC_000022.11,50738236,50745207,+,ACR,ACR
403102,Human,22,NC_000022.11,50768776,50782294,-,RABL2B,RABL

In [9]:
df_species.loc[df_species['Scaffold'].str.startswith('NC')].groupby('Scaffold')['Gene'].count().mean()

880.0411764705882

In [6]:
df_species.groupby('Specie')['Locus'].count().std()

KeyError: 'Specie'